p,
h6 {
  margin: 0;
}

.sidebar-container {
  /* padding: 1rem;
  padding-top: 1.5rem; */

  border: 1px rgba(0, 0, 0, 0.123) solid;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 0.3rem;
}

.sidebar-title {
  font-size: 1.1rem;
  margin-inline-end: auto;
  margin-bottom: 0.3rem;
}

.sidebar-paragraph {
  opacity: 70%;
  font-weight: 300;
  font-size: 0.9rem;
}

.sidebar-border-bottom {
  border-bottom: 1px rgba(0, 0, 0, 0.123) solid;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.sidebar-border-bottom-people {
  border-bottom: 1px rgba(0, 0, 0, 0.123) solid;
  padding-bottom: 1rem;
}

.sidebar-people {
  margin-top: 0.5rem;
}

.sidebar-people:hover {
  text-decoration: underline;
  color: rgb(45, 88, 187);
  cursor: pointer;
}

.sidebar-description-people {
  font-size: 0.9rem;
  opacity: 80%;
  margin-bottom: 0.4rem;
}

.sidebar-connections {
  background-color: white;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 0.2rem;
  padding-inline: 0.8rem;
  color: gray;
}

.sidebar-connections:hover {
  transition: 0.2;
  background-color: #b8b8b860;
  outline: solid #000000 2px;
}

.sidebar-align {
  vertical-align: middle;
}

.sidebar-footer {
  /* border-top: 1px solid rgba(128, 128, 128, 0.23); */
  padding-block: 0.6rem;
}

.sidebar-footer-show {
  text-align: center;
  opacity: 75%;
}

.sidebar-footer:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.cp {
  cursor: pointer;
}

/* css della chat */

.chat-min-position {
  position: fixed;
  bottom: 0;
  right: 15px;
}

.right {
  bottom: -4px;
  right: -6px;
}

.chat-container {
  width: 19rem;
  background-color: white;
  border: 1px solid rgb(214, 210, 210);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.color {
  color: rgb(64, 64, 64);
  font-size: 0.9rem;
}

.circle {
  color: rgb(64, 64, 64);
  padding: 0.5rem;
}

.rotate {
  rotate: 180deg;
}

.circle:hover {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #ebebeb;
}

.chat-border {
  border-top: 1px solid rgb(214, 210, 210);
}

.chat-searchbar {
  background-color: #edf3f8;
  border-radius: 5px;
  margin: 0.5rem 0.8rem;
  padding: 0.2rem 0.3rem;
}

.chat-remove-style-searchbar {
  background-color: transparent;
  border: none;
}

.chat-remove-style-searchbar:focus-visible {
  border: transparent;
}

.chat-section {
  width: 50%;
  padding: 0.7rem;
  opacity: 90%;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid rgb(214, 210, 210);
}

.chat-section:hover {
  background-color: #edf3f8;
  opacity: 100%;
}
/* da sistemare con js */
.chat-section-active {
  color: rgb(59, 110, 59);
  border-bottom: 2px solid rgb(59, 110, 59);
}

.chat-font-mess {
  font-size: 0.8rem;
  line-height: 1rem;
  opacity: 80%;
}

.chat-font-mess {
  font-size: 0.8rem;
  line-height: 1rem;
  opacity: 80%;
}

.chat-bottom {
  border-bottom: 1px solid rgb(214, 210, 210);
  padding-bottom: 0.5rem;
}

.chat-space {
  height: 70vh;
}

/* HeroSection */
#heroImg {
  height: 200px;
}

#profileImg {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  border: 5px solid white;
  object-fit: cover;
  cursor: pointer;
}

#profile-img-container {
  position: relative;
  top: -115px;
  left: 30px;
}
#photo {
  position: absolute;
  width: 28px;
  height: 28px;
  cursor: pointer;
  top: 142px;
  left: 75px;
  background-color: #ffffff;
  padding: 0.2rem;
  border-radius: 50%;
  opacity: 0;
}

#profile-img-container:hover #photo {
  opacity: 1;
  transition: 0.3s;
}

#photo:hover {
  outline: 1px solid #0a66c2;
}

#profilePen {
  width: 28px;
  height: 28px;
  margin-top: 10px;
  cursor: pointer;
}

#titleName {
  white-space: nowrap;
}

#workTitle {
  font-size: 17px;
  display: block;
}

#buttonVerify {
  color: #0a66c2;
  border: dotted 3px;
  height: 30px;
  width: 130px;
  border-radius: 30px;
}

#buttonVerify:hover {
  background-color: #e2f0fe;
  transition: 0.2;
}

#location {
  color: #666666;
  cursor: pointer;
}

@media (min-width: 990px) {
  #education2 {
    display: none;
  }
}

@media (max-width: 765px) {
  #location {
    display: block;
  }
}

@media (max-width: 990px) {
  #education {
    display: none;
  }
}
#education {
  cursor: pointer;
}
#education2 {
  color: #666666;
  border: none;
  background: none;
}

#education2:hover {
  text-decoration: underline;
  color: #0a66c2;
}

#information {
  text-decoration: none;
}

#information:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  #buttonPills1 {
    width: 100%;
  }
}

#buttonPills1 {
  font-size: 17px;
  height: 35px;
}

#buttonPills2 {
  font-size: 17px;
  height: 35px;
  background-color: white;
  color: #0a66c2;
  border-color: #0a66c2;
  box-sizing: border-box;
}

#buttonPills3 {
  font-size: 17px;
  height: 35px;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  background-color: white;
}

#buttonPills2:hover {
  transition: 0.2;
  background-color: #e2f0fe;
  outline: solid #0a66c2 2px;
}

#buttonPills3:hover {
  transition: 0.2;
  background-color: #b8b8b860;
  outline: solid #000000 2px;
}
*,
*::after,
*::before {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f4f2ee;
}

/* TOPBAR SETTINGS  */
#topbar {
  background-color: #ffffff;
  padding-inline: 10px;
}
/* TOPLOGO*/
#top-logo {
  width: 42px;
  height: auto;
  cursor: pointer;
}
#top-logo img {
  width: 100%;
}
/* SEARCHBAR */
#input-search {
  display: flex;
  gap: 0.5rem;
  background-color: #edf3f8;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-inline-start: 10px;
}

#input-search input {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
}

#input-search input:focus {
  outline: none;
}

/* NAV ICONS */
#nav-icons-container {
  display: flex;
  gap: 2.8rem;
}

#top-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#top-icon-lg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}

#top-icon-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  border-right: 1px solid rgb(140 140 140/0.2);
  cursor: pointer;
  position: relative;
}

#top-icon-img {
  width: 25px;
  position: relative;
}
#top-icon-img img {
  width: 100%;
}

#top-icon span:hover {
  color: black;
  transition: 0.2s;
}
#top-icon-user span:hover {
  color: black;
  transition: 0.2s;
}
#top-icon-lg span:hover {
  color: black;
  transition: 0.2s;
}

#top-icon-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
#top-icon-avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#top-icon span {
  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}
#top-icon-lg span {
  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}
#top-icon-user span {
  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}
#premiumLink {
  font-size: smaller;
  color: #856436;
}

#span-1 {
  position: absolute;
  top: 0;
  right: -3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #cb112d;
  z-index: 1;
}
#span-2 {
  position: absolute;
  top: 5px;
  right: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}

@media screen and (max-width: 1110px) {
  #input-search {
    display: none;
  }

  #top-icon-lg {
    display: flex;
  }
}
@media screen and (max-width: 900px) {
  #top-icon span {
    display: none;
  }
  #top-icon-lg span {
    display: none;
  }
  #drop-span {
    display: none;
  }
}

/* DROPDOWN */

#user-dropdown {
  width: 250px;
  height: 429px;
  position: absolute;
  right: 0px;
  top: 60px;
  background-color: #ffffff;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: start;
  flex-direction: column;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.7);
  gap: 0.4rem;
  z-index: 2;
}

#drop-img-container {
  font-family: "roboto", sans-serif;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
#drop-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#drop-text-container {
  display: flex;
  flex-direction: column;
}
#drop-text-container p {
  margin: unset;
}

#view-profile {
  border: 1px solid #0a66c2;
  border-radius: 10px;
  text-align: center;
  color: #0a66c2;
  font-size: 0.8rem;
  font-weight: 500;
}

#drop-line {
  margin-block: 0.5rem;
  width: 100%;
  height: 1px;
  background-color: rgb(140 140 140/0.2);
}

#account-drop p {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(0 0 0/0.8);
  margin-bottom: 0.5rem;
}

#account-drop h6 {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(0 0 0/0.6);
  margin-bottom: 0.5rem;
}

/* MAIN SECTION AND SIDEBAR SETTINGS */
/* #sidebar {
  min-width: 300px;
} */

/* #main-section {
  max-width: 1000px;
} */
